<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Members</title>
</head>
<body>
<div class="container">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>이름</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="member: ${members}">
          <td th:text="${member.getId()}"></td>
          <td th:text="${member.getName()}"></td>
          <br>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>